html, .navbar, a {
    font-variant: small-caps;
}
.logo {
    width: 100px;
    margin-left: 40px;
    border-radius: 0px;
}
.navbar {
    background-color: #eeeeee;
    box-shadow: 0px 3px 5px #0673FA;
    z-index: 1;
}
.nav-item {
    padding: 5px 20px;
}
.registrarse {
    margin: 5px;
    padding: 5px;
}
.search {
    width: 30px;
    height: 30px;
}
.categorias {
    background-color: #eeeeee;
    padding-right: 0px;
    box-shadow: 3px 5px 5px #0673FA;
    height: 99%;
    margin-bottom: 20px;
    z-index: 2;
    width: 238px;
}
.categorias > input {
    width: 170px;
    padding: 5px;
}
input[type=checkbox] {
    margin: 5px;
}
.categorias > ul > li:first-child {
    font: 19px bold;
    
}
ul {
    padding: 15px;
    list-style: none;
}
li > ul > :first-child {
    padding: 10px 0px;
    font: 20px bold;
}
.background {
    background-size: 10%;
    background-image: url(assets/pata.png);
}
.contenido {
    margin: 20px;
    padding: 0px;
}
.contenido col {
    align-items: flex-end;
}
.animal {
    width: 100%;
}
.tarjeta {
    text-align: center;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px blue;
    margin-bottom: 15px;
    margin-left: 10px;
    background: #eeeeee;
}
.tarjeta img {
    opacity: 0.9;
}
.tarjeta img:hover {
    opacity: 1;
}
button {
    padding: 5px;
    border-radius: 5px;
    background-color: #0673FA;
    color: white;
    border: 0px;
    font-size: 18px;
    font-variant: small-caps;
    transition: background-color 1.5s;
}
.adoptar {
    display: flex;
    margin: 20px auto;
    justify-content: center;
    width: 150px;
}
button:hover {
    background-color: green;
    transition: background-color ease-out 0.5s;
}
a:link{
    text-decoration: none;
}
.datos, .datos-contacto {
    font-size: 18px;
    background-color: #eeeeee;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px blue;
}
.datos-contacto {
    margin: 20px 0px;
}
span {
    font: 20px bold;
}
.contacto {
    margin: 20px 0px;
    width: 80px;
}
.contacto > a {
    color: white;
}
.busqueda {
    padding-top: 10px;
}    
.formulario label {
    padding: 10px 20px;
    text-align: right;
    width: 210px;
}
.formulario form {
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #0673FA;
    padding: 20px;
    margin: 20px;
    background-color: #eeeeee;
}
.formulario h1 {
    margin-top: 40px;
    margin-bottom: 20px;
}
.formulario select, .formulario input, .formulario textarea {
    width: 300px;
    padding: 5px;
    border-radius: 5px;
}
.formulario > div {
    margin: auto;
}
.formulario {
    background-color: white;
}

h1 {
    text-align: center;
    font: 30px bold;
    text-shadow: 0 0 3px blue;
    font-variant: small-caps;
}
a:hover, label:hover {
    text-shadow: 0 0 3px blue;
}
.categorias label {
    margin: 0px;
    padding: 0px;
    color: #0673FA;

}
.barra-blog {
    width: 238px;
    height: 99%;
}
.barra-blog li {
    margin-left: 10px;
    padding: 15px 5px;
    max-width: 170px;
    list-style-type: disc;
}
.contenido-blog {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
}
.contenido-blog > div {
    margin: 0px 10px;
    background: #eeeeee;
    border-radius: 20px;
    padding: 20px;
}
.contenido-blog li:first-child {
    font-size: 25px;
    margin-left: -10px;
}
.contenido-blog ul li:nth-child(n+2) {
    list-style-type: disc; 
    padding-top: 15px;
    margin-left: 10px;
    font-size: 18px;
}
.subir {
    display: flex;
    justify-content: space-between;
    background: #eeeeee;
    align-items: center;
    box-shadow: 0px -5px 5px #0673FA; 
}
.subir ul {
    display: flex;
    margin-top: 20px;
}
.subir li {
    display: flex;
    margin: 10px;
}
.subir img {
    padding-right: 20px;
}
img {
    border-radius: 20px;
}
@media all and (max-width: 700px) {
    .asd {
        margin-left: -238px;
    }
}
@media all and (max-width: 700px) {
    #sidebar.ocultar {
        margin-left: 0px;
    }
}
@media all and (min-width: 700px) {
    #sidebar.ocultar {
        margin-left: -238px;
    }
}   
#sidebar {
    transition: all 1s ease-out;
    visibility: visible;
}
.deslizable {
    z-index: 2;
    position: fixed;
    margin-top: -20px;
    margin-left: -20px;
}
.comentar button {
    display: flex;
    margin-right: auto;
}
.comentar input {
    border-radius: 10px;
    display: flex;
    margin-left: auto;
}